* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.filter {
    width: 50vw;
    height: 45vh;
    filter: drop-shadow(2px 2px 2px gray);
    margin: 40px;
    padding: 10px 5px 0 0;
}

.account {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(3px 3px 6px gray);
    outline: 0;
    width: 60vw;
    height: auto;

}

.form {
    margin: 10px 10px 10px 10px;
    width: 45vw;
}

.account-title {
    font-size: 20px;
    color: black;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

label {
    color: gray;
}

.login {
    font-size: 1rem;
}

.form-p1 {
    padding: 3px;
    margin: 0 0 6px;
}

.required {

    color: red;
}

.input-1 {
    border: none;
    background-color: #f9f9f9;
    padding: 30px 0px 0px 0px;
    width: 100%;
    margin: 0;
    border-radius: 10px;
}

.password-input1 {
    border: none;
    background-color: #f9f9f9;
    padding: 5px 5px 15px 5px;
    margin: 0;
    border-radius: 10px;
}

.form-row {
    padding: 3px;
    margin: 0 0 6px;
}

.form-label {
    display: inline-block;
    line-height: 2;
}

.form-input {
    background: #f9f9f9;
    border: none;
    padding: 10px;
    margin: 10px 0;
    font-weight: 300;
    border-radius: 5px;
}

.submit-2 {
    color: black;
    background: #e4dfdf;
    padding: 0.365rem;
    margin: 0.365rem;
    border-radius: 10%;
    float: left;
    margin-left: 1em;
    border: 0px;
}

.submit-2:hover {
    background: #c6bbbb;
    border-radius: 10%;
}

.a-password {
    margin: 0.4rem;
    color: red;
    font-size: large;
}

.a-password:hover {
    color: #4139cc;
}

.b-g2 {
    filter: drop-shadow(10px 10px 10px gray);
}

.submit-1 {
    font-size: large;
    color: black;
    background: #e4dfdf;
    padding: 0.45rem;
    margin: 0.365rem;
    border-radius: 10%;
    float: right;
    margin-left: 3rem;
    border: 0px;

}

.submit-1:hover {
    background: #c6bbbb;
    border-radius: 10%;
}

@media only screen and (max-width: 576px) {
    section {
        width: 25vw;
    }
}