* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    border-radius: 20px;
    background-color: white;
    width: 60vw;
    height: 130vh;
}

.div-img {
    display: inline-block;
    border-radius: 20px;
}

.parent-img {
    display: flex;
    border-radius: 20px;
    margin: 0.365rem;
}

.img-1 {

    display: inline;
    border-radius: 20px;
}

.img-2 {
    margin: 0.365rem;
    filter: blur(2px);
}

.img-2:hover {
    filter: blur(0);
}

.img-3 {
    margin: 0.365rem;
    filter: blur(2px);
}

.img-3:hover {
    filter: blur(0);
}

.img-4 {
    margin: 0.365rem;
    filter: blur(2px);
}

.img-4:hover {
    filter: blur(0);
}

.img-5 {
    margin: 0.365rem;
    filter: blur(2px);
}

.img-5:hover {
    filter: blur(0);
}

.Phone-information {
    float: left;
    width: 50%;
}
.clr:hover{
    color: red;
}
.phone-model {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #dedee3;
    width: 26vw;
    padding: 0.8rem;
    margin: 10px 0 10px 10px;
    border-radius: 20px;
}

.price {
    color: #259125;
}

.li {
    padding: 0.365rem;
    color: #6b736b;
}

.b {
    margin: 0.4rem;
    padding: 0.4rem;
}

.select-1 {
    background-color: white;
    filter: drop-shadow(3px 3px 3px gray);
    display: inline-block;
    padding: 0.8em 2.5em;
    margin: 0.4em 2.1em;
    border: 0;

}

.select-2 {
    background-color: white;
    filter: drop-shadow(3px 3px 3px gray);
    display: inline-block;
    padding: 0.8em 2.5em;
    margin: 0.4em 1.5em;
    border: 0;
}
[type="number"]{
    border: none;
    background-color: #eee;
    width: 4vw;
    height: 6vh;
    margin: 0.2rem;
    padding: 0.6rem ;
    border-radius:10px;
}
.submit {
    font-size: large;
    color: white;
    display: inline-block;
    border: 0;
    background-color: #ef4242;
    padding: 0.6em 3em;
    margin: 2rem 0 ;

}
@media only screen and (max-width: 576px) {
   section {
    background-color: white;
        width: 120vw;
        height: 450vh;
    }
    .div-img{
        background-color: white;
        width: 40%;
        height: 5vh;
    }
    .img-1{
        background-color: white;
        width: 100vw;
        height: 5%;
    }
}
@media only screen and (max-width: 1539px)and (min-width:700px) {
   section {
    background-color: white;
        width: 120vw;
        height: 350vh;
    }
    .img-1{
        padding: 0;
        margin: 0;
        background-color: white;
        width:50vw ;
        height: 25vh;
    }
  .parent-img{
    padding: 0;
    margin: 0;
    background-color: white;
    width:90% ;
    height: 7vh;
  }

    .Phone-information{
        width: 100%;
        height: 120vh;
    }
    .phone-model{
        width: 80%;
        
    }
    .number{
        width: 11%;
        height: 4vh;
    }
 
}
@media only screen and (max-width: 771px)and (min-width:300px) {
   section {
    background-color: white;
        width: 120vw;
        height: 350vh;
    }
    .img-1{
        padding: 0;
        margin: 0;
        background-color: white;
        width:50vw ;
        height: 25vh;
    }
  .parent-img{
    padding: 0;
    margin: 0;
    background-color: white;
    width:90% ;
    height: 7vh;
  }
  .img-5{
    display: none;
  }
    .Phone-information{
        width: 100%;
        height: 120vh;
    }
    .phone-model{
        width: 100%;
        
    }
    .number{
        width: 11%;
        height: 4vh;
    }
 
}
@media only screen and (max-width:400px) {
   section {
    background-color: white;
        width: 120vw;
        height: 350vh;
    }
    .img-1{
       width: 50%;
    }
  .parent-img{
    padding: 0;
    margin: 0;
    background-color: white;
    width:90% ;
    height: 7vh;
  }
  .img-5{
    display: none;
  }
    .Phone-information{
        width: 100%;
        height: 120vh;
    }
    .phone-model{
        width: 100%;
        
    }
    .number{
        width: 11%;
        height: 4vh;
    }
 
}
